{%- include i18n.html -%}
<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <h3>{{ t.footer.site_heading | default: t_en.footer.site_heading }}</h3>
        <ul>
          <li><a href="{% include lang_url.html path='/' %}">{{ t.footer.home | default: t_en.footer.home }}</a></li>
          <li><a href="{% include lang_url.html path='/press/' %}">{{ t.footer.press_kit | default: t_en.footer.press_kit }}</a></li>
        </ul>
      </div>
      <div>
        <h3>{{ t.footer.legal_heading | default: t_en.footer.legal_heading }}</h3>
        <ul>
          <li><a href="{% include lang_url.html path='/privacy/' %}">{{ t.footer.privacy | default: t_en.footer.privacy }}</a></li>
          <li><a href="{% include lang_url.html path='/terms/' %}">{{ t.footer.terms | default: t_en.footer.terms }}</a></li>
        </ul>
      </div>
      <div>
        <h3>{{ t.footer.help_heading | default: t_en.footer.help_heading }}</h3>
        <ul>
          <li><a href="{% include lang_url.html path='/support/' %}">{{ t.footer.support | default: t_en.footer.support }}</a></li>
        </ul>
      </div>
    </div>
    <p class="copyright">{{ t.footer.copyright | default: t_en.footer.copyright }}</p>
  </div>
</footer>
