<header class="site-header">
    <div class="container nav">
        <a class="nav-brand" href="/" aria-label="Word Nerd 3D home">
            <img src="/content/img/logo-flat.png" alt="Word Nerd 3D" class="nav-logo">
        </a>
        <ul class="nav-links">
            <li><a href="/"{% if page.url == '/' %} class="active"{% endif %}><i class="ti ti-home" aria-hidden="true"></i> Home</a></li>
            <li><a href="/support/"{% if page.url == '/support/' %} class="active"{% endif %}><i class="ti ti-lifebuoy" aria-hidden="true"></i> Support</a></li>
            <li><a href="/press/"{% if page.url == '/press/' %} class="active"{% endif %}><i class="ti ti-news" aria-hidden="true"></i> Press</a></li>
        </ul>
    </div>
</header>
